.colection__title {
  padding: 48px 0;

  @include mobile {
    padding: 40px 0 16px;
    text-align: center;
  }
}

.colection__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}