.colection__title {
  padding: 48px 0;
}

.colection__grid {
  display: grid;
  grid-template-columns: repeat(2 1fr);
}

.plate {
  position: relative;
  background-color: #F3F5F7;
}

.plate__content {
  position: absolute;

}

.plate--tall {}

.pale__title {}

.plate__link {}