.hero {
  height: 820px;
  background-color: #FFC95C;
  background-image: url('../../img/hero/bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

}