.mobile-nav-fade {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 9;
}

.mobile-nav {
	position: fixed;
	background-color: #fff;
	padding: 24px;
	left: 0;
	top: 0;
	height: 100%;
	width: 343px;
	z-index: 99;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mobile-nav__top {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.mobile-nav__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-size: 16px;
	line-height: 1;
	font-weight: 500;
}

.mobile-nav__bottom {
	display: flex;
	flex-direction: column;
	gap: 20px;
}


.mobile-nav__search-label {
	padding: 11px 16px;
	display: flex;
	gap: 8px;
	align-items: center;
	border: 1px solid #6C7275;
	border-radius: 6px;
	height: 46px;
}

.mobile-nav__search-input {

	width: 100%;
	font-size: 14px;
	line-height: 1.57;
	color: #6C7275;
}