.nav {
  padding: 16px 0;
  background-color: #FFC95C;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo .logo {
  display: inline-block;
  /* Потрібно, щоб трансформація застосовувалася правильно */
  transition: transform 0.3s ease;
  /* Додаємо плавний перехід */
}

.nav__logo .logo:hover {
  transform: rotate(5deg);
  /* Обертання на 30 градусів */
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;

}

.nav__link {
  color: #141718;
  transition: transform 0.3s ease;
  display: inline-block;

  &:hover {
    transform: rotate(5deg);
  }
}

.nav__btns {
  display: flex;
  gap: 17px;
  align-items: center;
}

.nav__btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav__btn img {
  display: inline-block;
  transition: transform 0.3s ease;
}

.nav__btn:hover img {
  transform: rotate(30deg);
}


.nav__btn-count {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #141718;
  color: var(--yellow);
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

.nav__btn--mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.nav__logo {
  display: flex;
  gap: 4px;
  align-items: center;
}

@include mobile {

  .nav__list,
  .nav__btn--search,
  .nav__btn--user {
    display: none;
  }

}

.shopping-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;

  &__content {
    background: #fff;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      color: #e60000;
    }
  }

  .shopping-bag__title {
    margin-bottom: 10px;
    text-wrap: wrap;

  }

  .shopping-bag__image {
    width: 30px;
    height: auto;
    object-fit: contain;
  }

  .shopping-bag__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .shopping-bag__empty-message {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 20px;
  }

  .shopping-bag__details {
    font-size: 14px;
    max-width: 200px;
  }

  .shopping-bag__quantity {
    font-size: 14px;
  }

  .shopping-bag__price {
    font-size: 14px;
  }

}