.newsletter {
  height: 360px;
  background-color: #E2E4E3;
  background-image: url('../../img/newsletter/bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter__content {}