.newsletter {
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E2E4E3;
  background-image: url('../../img/newsletter/bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    background-image: none;
  }

  @include mobile {
    height: auto;
    padding: 95px 32px;
  }
}

.newsletter__content {
  max-width: 552px;
  flex-grow: 1;
  text-align: center;
  padding: 0 var(--container-padding);
}

.newsletter__title {
  margin-bottom: 8px;

  @include mobile {
    font-size: 28px;
  }
}

.newsletter__desc {
  font-size: 18px;
  line-height: 1.6666;
  color: #121212;
  margin-bottom: 32px;

  @include mobile {
    font-size: 14px;
  }
}

.form-newsletter {
  border-bottom: 1px solid rgba(108, 114, 117, 0.5);
  display: flex;
  gap: 8px;
  padding-bottom: 12px;
}

.form-newsletter__input {
  color: #141718;
  flex-grow: 1;

  &::placeholder {
    color: #6C7275;
  }
}

.form-newsletter__submit {
  color: #6C7275;
  transition: all 0.2s ease-in;

  &:hover {
    color: #141718;
  }
}

.form-newsletter__error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 8px;
  display: none;
  text-align: left;
}

.form-newsletter__input.error {
  border-color: #ff0000;
}