.tagline {
  position: relative;
  background-color: #141718;
  color: #fff;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: var(--font-main);
}

.tagline__desc {

  font-size: 14px;
  font-weight: 600;
  line-height: 22px;

  @include mobile {
    font-size: 12px;
  }
}

.tagline__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--yellow);
  border-bottom: 1px solid var(--yellow);

  @include mobile {
    display: none;
  }
}

.tagline__link-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.tagline__close {
  position: absolute;
  z-index: 9;
  top: 10px;
  right: 16px;
  background: white;
  /* Білий фон під час блимання */
  border-radius: 50%;
  cursor: pointer;
  animation: blink 1s infinite ease-in-out;
  /* Блимання кожну секунду */
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
    /* Білий фон видимий */
  }

  50% {
    opacity: 0;
    /* Білий фон невидимий */
  }
}