.promotion {
  position: relative;
  background-color: rgba(255, 170, 0, 0.4);
  display: grid;
  gap: 24px;
}

.promotion__bg {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .promotion__bg {
    position: static;
    width: 100%;
    height: 367px;
  }
}


.promotion__container {
  padding-left: calc((100% - var(--container-width)) / 2 + (var(--container-width) / 2));
  padding-right: calc((100% - var(--container-width)) / 2);

  @include tablet {
    padding-right: var(--container-padding);
  }

  @include mobile {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
}


.promotion__content {
  padding: 100px 0;
  padding-left: 72px;
  display: grid;
  gap: 24px;

  @include tablet {
    padding: 50px 0;
    padding-left: 32px;
  }

  @include mobile {
    padding: 28px 0;
  }
}

.promotion__desc {
  display: grid;
  gap: 16px;
}

.promotion__tagline {
  color: #377DFF;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1;
}

.promotion__title {
  color: #121212;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -0.4px;
  line-height: 1.1;
  font-family: var(--font-accent);

  @include mobile {
    font-size: 34px;
  }
}

.promotion__text {
  color: #121212;
  font-size: 20px;
  line-height: 1.6;
  text-wrap: balance;

  @include mobile {
    font-size: 14px;
  }
}


.promotion__timer {
  display: grid;
  gap: 12px;
  color: #141718;
}

.promotion__expires {
  font-size: 16px;
  line-height: 1.625;
}